In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

%matplotlib inline

In [60]:
# A1 Import the data as a Pandas DataFrame and name it as df.
df=pd.read_csv("p1_communes.csv/p1_communes.csv")

In [61]:
# A2 Check the number of rows and columns.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2202 entries, 0 to 2201
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Canton                      2202 non-null   object
 1   Commune                     2202 non-null   object
 2   Language                    2202 non-null   object
 3   Residents                   2202 non-null   int64
 4   Population density per km²  2202 non-null   float64
 5   0-19 years                  2202 non-null   float64
 6   20-64 years                 2202 non-null   float64
 7   65 years or over            2202 non-null   float64
 8   Private households          2202 non-null   int64
 9   Surface area in km²         2202 non-null   float64
 10  Settlement area             2202 non-null   float64
 11  Agricultural area           2202 non-null   float64
 12  Wooded area                 2202 non-null   float64
 13  Unproductive area           2202 non-null   float64
 14  East coordinate             2202 non-null   int64
 15  North coordinate            2202 non-null   int64
 16  Elevation                   2202 non-null   int64
dtypes: float64(9), int64(5), object(3)
memory usage: 292.6+ KB

In [62]:
#A3 Display the first few entries of the DataFrame.
df.head()

,Canton,Commune,Language,Residents,Population density per km²,0-19 years,20-64 years,65 years or over,Private households,Surface area in km²,Settlement area,Agricultural area,Wooded area,Unproductive area,East coordinate,North coordinate,Elevation
0,ZH,Aeugst am Albis,de,1982,250.568900,19.677094,62.764884,17.558022,835,7.91,12.658228,51.139241,30.886076,5.316456,2679300,1235700,673
1,ZH,Affoltern am Albis,de,12229,1154.768650,20.508627,61.329626,18.161747,5348,10.59,30.674264,40.170940,28.205128,0.949668,2676800,1236800,502
2,ZH,Bonstetten,de,5548,746.702557,23.666186,60.310022,16.023792,2325,7.43,15.456989,55.510753,28.629032,0.403226,2677800,1241000,583
3,ZH,Hausen am Albis,de,3701,272.132353,21.804918,60.686301,17.508781,1546,13.60,12.692590,55.906090,28.833456,2.567865,2682900,1233100,653
4,ZH,Hedingen,de,3734,571.822358,21.772898,61.756829,16.470273,1540,6.53,19.817073,46.341463,33.231707,0.609756,2676400,1239000,543

In [63]:
#A4 Obtain the index labels, and then show the column names as a list.
# Get the index labels (commande from ChatGPT)
df.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [64]:
# commandes from ChatGPT
# Get the column names
column_names = df.columns.tolist()
# Display the column names as a list
print(f"The column names are: {column_names}")

The column names are: ['Canton', 'Commune', 'Language', 'Residents', 'Population density per km²', '0-19 years', '20-64 years', '65 years or over', 'Private households', 'Surface area in km²', 'Settlement area', 'Agricultural area', 'Wooded area', 'Unproductive area', 'East coordinate', 'North coordinate', 'Elevation']

In [65]:
#A5 Check the data type for each column.
df.dtypes

Canton                         object
Commune                        object
Language                       object
Residents                       int64
Population density per km²    float64
0-19 years                    float64
20-64 years                   float64
65 years or over              float64
Private households              int64
Surface area in km²           float64
Settlement area               float64
Agricultural area             float64
Wooded area                   float64
Unproductive area             float64
East coordinate                 int64
North coordinate                int64
Elevation                       int64
dtype: object

In [66]:
#A6 Check if there are any missing values and show the rows that contain the missing values.
# Check for missing values (commande from ChatGPT)
missing_values = df.isnull()

In [67]:

# Display the rows that contain missing values (commande from ChatGPT)
print(f"The rows that contain missing values are:\n{df[missing_values.any(axis=1)]}")
# I completed the missing values manualy in the csv file

The rows that contain missing values are:
Empty DataFrame
Columns: [Canton, Commune, Language, Residents, Population density per km², 0-19 years, 20-64 years, 65 years or over, Private households, Surface area in km², Settlement area, Agricultural area, Wooded area, Unproductive area, East coordinate, North coordinate, Elevation]
Index: []

In [68]:
#B. Exploration: numerical summaries, indexing and grouping

In [69]:
#B1 Obtain the mean, minimum and maximum value for each column containing numerical data. Your output should preferably show only the three requested statistics and not the full table of descriptive statistics.
# Calculate mean, min, and max for each numerical column (commande from ChatGPT)
result = df[['Residents', 'Population density per km²', '0-19 years', '20-64 years', '65 years or over', 'Private households', 'Surface area in km²', 'Settlement area', 'Agricultural area', 'Wooded area', 'Unproductive area', 'East coordinate', 'North coordinate', 'Elevation']].agg(['mean', 'min', 'max'], numeric_only=True)   

# Display the result
print(result)

         Residents  Population density per km²  0-19 years  20-64 years  \
mean    3880.34832                  432.445211   20.585656    60.366464
min       11.00000                    0.895037    0.000000    18.181818
max   415367.00000                12669.052100   37.777778    77.922078

      65 years or over  Private households  Surface area in km²  \
mean         19.047880         1708.606721            18.159124
min           6.271186           10.000000             0.310000
max          81.818182       201252.000000           438.630000

      Settlement area  Agricultural area  Wooded area  Unproductive area  \
mean        14.855326          45.939863    32.564841            6.63997
min          0.138897           0.000000     0.000000            0.00000
max         97.260274          91.509434    88.235294           95.02286

      East coordinate  North coordinate    Elevation
mean     2.631713e+06      1.202288e+06   769.305177
min      2.486700e+06      1.077200e+06   200.000000
max      2.828800e+06      1.294100e+06  3080.000000

In [70]:
#B2 List the 10 most populated communes, ordered by their number of residents.(commande from ChatGPT)
# Sort by population in descending order
top_10_communes = df.sort_values(by='Residents', ascending=False).head(10)

# Display the result
top_10_communes[['Commune', 'Residents', 'Canton']]

          Commune  Residents Canton
154        Zürich     415367     ZH
2124       Genève     201818     GE
910         Basel     172258     BS
1749     Lausanne     139111     VD
194          Bern     133883     BE
141    Winterthur     111851     ZH
535        Luzern      81691     LU
1053   St. Gallen      75833     SG
1582       Lugano      63185     TI
207   Biel/Bienne      55159     BE

In [71]:
#B3 List the 10 least populated communes, ordered by their number of residents.(commande from ChatGPT)
# Sort by population in descending order
top_10_communes = df.sort_values(by='Residents', ascending=True).head(10)

# Display the result
top_10_communes[['Commune', 'Residents', 'Canton']]

          Commune  Residents Canton
1546      Corippo         11     TI
875   Kammersrohr         28     SO
2011       Bister         33     VS
366      Schelten         36     BE
370    Rebévelier         41     BE
485        Berken         45     BE
1629    Cerentino         45     TI
1160    Lohn (GR)         46     GR
342   Clavaleyres         46     BE
1627  Bosco/Gurin         46     TI

In [72]:
#Group the communes by canton and save them into separate .csv files, e.g. a ZH.csv with all the data for communes in Zurich (Do not include the .csv files in your submission).(commande from ChatGPT)

# Group by 'canton' (replace 'canton' with your actual column name)
grouped = df.groupby('Canton')

# Save each group to a separate CSV file
for name, group in grouped:
    group.to_csv(f'{name}.csv', index=False)

In [73]:
#B5 Compute the population density at the canton level and rank the cantons from most dense to least dense. Clearly state and comment your observations.(commande from ChatGPT)
# Group by 'Canton' and compute mean population density
mean_density_by_canton = df.groupby('Canton')['Population density per km²'].mean()

# Sort by population density (most dense to least dense)
ranked_cantons = mean_density_by_canton.sort_values(ascending=False)

# Display the result
ranked_cantons

Canton
BS    3236.627458
GE    1802.562712
ZH     804.610924
ZG     709.802261
TI     638.957841
BL     565.737021
SG     535.510464
AG     509.434515
VD     435.300495
SO     430.999314
NE     417.867731
TG     395.556296
LU     386.478255
SZ     384.974180
NW     310.376483
BE     292.766875
FR     272.012673
AR     267.894190
SH     221.781214
VS     144.689883
AI     120.671860
UR      95.559915
GL      89.224440
JU      87.176329
OW      80.274054
GR      61.250073
Name: Population density per km², dtype: float64

In [75]:
#Clearly state and comment your observations.
#BaselStadt is the most densly populated "Canton", but it just counts the town Basel and does not include BaselLand. Canton Geneva includes the town itself and the Communes of the Canton Geneva.
#Therefore BS and BL should be counted together to get the better mean value.

In [76]:
#B6 Compute the number of communes in each canton where more than 50 percent of their populations are aged between 20 and 64 years old.

In [77]:
# Calculate population percentage (20 to 64 years old)
df['Population Percentage'] = (df['Age20_64'] / df['Population']) * 100

# Filter communes where population percentage > 50%
filtered_df = df[df['Population Percentage'] > 50]

# Group by 'Canton' and count communes
communes_per_canton = filtered_df.groupby('Canton')['Commune'].count()

# Display the result
print(communes_per_canton)

KeyError: 'Age20_64'